*{
  Box-Sizing:border-Box;
  Outline:none;
}
Body,Html{
  Margin:0 Auto;
  Height:100%;
  Color:#FFFFFF;
  Font-Family: 'Lato', Sans-Serif;
}
H2,P{
  Margin:0;
}
P{
  Font-Size:14px;
  Color:#B5B5B5;
}
.Jotform-Page{
  Height:100%;
  Display:flex;
}
.Left-Area{
  Display:flex;
  Background-Image:url("Https://I.Ibb.Co/S7ZrZnG/Image.Png");
  Background-Repeat: No-Repeat;
  Background-Attachment: Fixed;
  Height:100%;
  Width:300px;
}
.Icon-Area{
  Display:flex;
  Flex-Direction:column;
  Justify-Content:space-Between;
  Background-Color: Rgba(0,0,0,.88);
  Width:50px;
  Height:100%;
  Padding:20px 5px 0 5px;
  Align-Items:center;
}
.Contacts-Area{
  Background-Color:rgba(0,0,0,.76);
  Width:250px;
  Height:100%;
  Padding:30px 16px 0 20px ;
  Overflow:auto;
}
.Header{
  Display:flex;
  Justify-Content:space-Between;
  Align-Items:center;
  Margin-Bottom:24px;
}
.Threads {
  Display:flex;
  Margin-Bottom:24px;
  Font-Size:14px;
}
.Icon{
 /* Margin-Right:5px;*/
}
.Channel , .Friends{
  Display:flex;
  Justify-Content:space-Between;
  Font-Size:14px;
  Padding:5px;
}
.Channel-List{
  Padding-Left:6px;
}
.Channel-Name{
  Display:flex;
  Padding:5px;
  Font-Size:14px;
}
.Selected{
  Background:rgb(255,255,255,0.2);
  Border-Radius:4px;
}
.Selected > P{
  Color:rgb(255,255,255);
}
::-Webkit-Scrollbar {
  Width: 6px;
  Border-Radius:10px;
}
::-Webkit-Scrollbar-Track{
  Background:none;
}
::-Webkit-Scrollbar-Thumb {
  Background: #B5B5B5; 
  Border-Radius: 10px;
}
.Friend-List{
  Padding:5px;
}
.Friend-Info{
  Display:flex;
  Align-Items:center;
}
.Friend-Info *{
  Margin-Right:8px;
  Margin-Bottom:8px;
}
.Photo{
  Border-Radius:4px;
  Width:34px;
  Height:34px;
}
.Message-Area{
  Height:100%;
  Width:calc(100% - 500px);
}
.Message-Header{
  Height:80px;
  Border-Bottom:1px Solid #Ddd;
  Padding:30px 5px 5px 16px;
}
.Message-Wrapper{
  Display:flex;
  Justify-Content:space-Between;
}
.Left > H2{
  Color:black;
  Font-Size:16px;
}
.Left , .Right{
  Display:flex;
  Align-Items:center;
}
.Right *{
  Margin-Right:5px;
}
Input{
  Padding:6px;
  Border-Radius:4px;
  Border:1px Solid #Ddd;
  Margin:0 20px;
}
Button{
  Background:none;
  Border:none;
}
.Notification{
  Display:flex;
  Backround:rgb(255,255,255);
}
.Red-Dot{
  Margin-Top:-10px;
  Margin-Left:-4px;
}
.Search-Icon{
  Margin-Left:-30px;
}
.Wrapper{
  Display:flex;
  Align-Items:center;
  Margin-Left:20px;
}
.Info > H2{
  Color:black;
  Font-Size:14px;
  Margin-Right:5px;
}
.Info{
  Display:flex;
}
.Container{
  Display:flex;
}
.Message{
  Color:rgb(0,0,0);
}
Chat-Break{
  Position:relative;
  Display:flex;
  Align-Items:center;
  Justify-Content:center;
  Margin-Bottom:10px;
}
.Line{
  Width:100%;
  Border-Bottom:1px Solid #Ddd;
  Border-Top:none;
  Border-Right:none;
  Border-Left:none;
}
.Date-Info{
  Position:absolute;
  Background:white;
}
.Chat-Area{
  Padding:16px;
}
.Container > .Photo{
  Margin-Right:10px;
}
.Container{
  Padding:0 0 10px 0;
}
Span.Extension{
  Color:rgb(53,119,239);
}
.Content-Image{
  Max-Width:100%;
}
.Content{
}
.Attachment{
  Position:relative;
  Max-Width:260px;
  Margin:14px 0;
}
.Content-Image{
  Border-Radius:4px;
}
.Reaction{
  Display:flex;
  Position:absolute;
  Border-Radius:4px;
  Padding: 5px 10px;
  Width:50px;
  Height:30px;
  Background:#FFFFFF;
  Box-Shadow: 0px 2px 8px Rgba(0, 0, 0, 0.14);
  Bottom:0;
  Right:0;
}
.Icon{
  Width:16px;
  Height:16px;
  Bottom:0;
}
.Reaction > P{
  Color:black;
}
.Message-Area{
  Height:100%;
  Display:flex;
  Flex-Direction:column;
}
.Chat-Area{
  Flex:1;
  Overflow:auto;
  Border-Bottom:1px Solid #Ddd;
}
.Type-Area{
  Display:flex;
  Align-Items:center;
  Justify-Content:space-Between;
  Vertical-Align:middle;
  Padding:10px ;
}
.Type-Icon{
  Width:20px;
  Opacity:.5;
}
.Type-Icon:hover{
  Opacity:.7;
}
.Date-Info{
 Padding:0 10px;
}
.Type-Input{
  Border:none;
}
.Info-Area{
  Flex-Shrink:0;
  Width:200px;
  Height:100%;
  Background-Color:#D3D3D3;
  Overflow:auto;
}
.Profile-Photo{
  Background-Image:url("Https://Images.Unsplash.Com/Photo-1513772051905-D2acb1dc5bb1?Ixlib=Rb-1.2.1&Auto=Format&Fit=Crop&W=1534&Q=80");
  Background-Repeat: No-Repeat;
  Background-Position:center;
  Background-Size:cover;
  Height:200px;
}
.Info-Content{
  Padding:14px;
}
.Info-Wrapper > H2{
  Color:black;
  Font-Size:16px;
  Margin-Right:5px;
}
.Info-Header >P{
  Color:#767676;
}
.Info-Header{
  Margin-Bottom:16px;
}
.Info-Wrapper{
  Display:flex;
  Align-Items:center;
}
.Button-Wrapper > .Button-Message{
  Font-Size:16px;
  Background:#3577EF;
  Color:#FFFFFF;
  Border-Radius:4px;
  Padding:5px 20px ;
  Margin-Right:5px;
}
.Button-Message:hover{
  Background:#0462BB;
}
.Button-Wrapper{
  Display:flex;
  Align-Items:center;
}
.Faded{
  Color:#737373;
}
.Dark{
  Color:black;
}
.Personal-Info{
  Margin-Top:10px;
}
.Social-Icon{
  Width:22px;
  Heigt:20px;
  Border-Radius:50%;
  Background-Color:#E8E8EB;
  Padding:2px;
}
.Social{
  Display:flex;
  Justify-Content:space-Between;
  Width:100px;
  Margin-Bottom:10px;
}
.Facebook , .Instagram{
  Padding-Top:4px;
}
.Icon:hover{
  Opacity:.7;
}
.Arrow{
  Width:7px;
}
.Option{
  Background:#3577EF;
  Padding:7px 10px;
  Border-Radius:4px;
}
.Option:hover{
  Background:#0462BB;
}
.Threads .Icon{
  Margin-Right:6px;
}
.Star{
  Margin-Left:6px;
}
/*
